* {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Rubik', sans-serif;
}
.conteiner {
    margin: 0 auto;
    width: 960px;
}
.conteiner::after {
    content: " ";
    display: table;
    clear: both;
}
/* Header */
.header {
    background-size: cover;
    height: 760px;
}
.linkbox {
    text-align: center;
    float: right;
    margin-top: 20px;
    margin-bottom: 50px;
}
.link {
    margin-left: 20px;
    color: black;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;
}
.link:hover {
    background-size: 100% 2px;
    color: #2AD9CA;
}
.title-inf, .who-inf, .text-inf {
    margin-top: 20px;
}
.about-me {
    margin: 0 auto;
    width:850px;
}
.inf {
    width: 450px;
    margin-top: 230px;
    float: left;
}
.me {
    float: right;
}
.social, .footer-link {
    margin-top: 10px;
}
.social-link {
    margin-left: 10px;
}
/* Project */
.portfolio {
    border-top: 5px solid #2AD9CA;
    padding-top: 50px;
    background-color: #F4F4F4;
    padding-bottom: 15px;
}
.title-portf {
    text-align: center;
    margin-bottom: 30px;
}
.project-text {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    background:rgba(255,255,255, 0.7);
    padding:20px;
    display:none;
}
.m {
    margin-left: 20px;
}
.project {
    position: relative;
    float: left;
    margin-top: 20px;
}
.project:hover .project-text {
    display: block;
}
/* Skill */
.skill {
    margin-top: 20px;
}
.item {
    margin: 5px 0;
}
.line {
    background-color: black;
    width: 1px;
    height: 300px;
    float: left;
    margin-left: 15px;
}
.skills {
    background-color: #F2F2F2;
    box-shadow: 5px 5px 5px #CECECF;
    width: 460px;
    height: 300px;
    margin-bottom: 10px;
    float: left;
    border: 2px solid #2AD9CA;
}
.skills2 {
    margin-left: 15px;
}
.title-skills, .title-benefits {
    text-align: center;
}
.benefits {
    background-color: #F2F2F2;
    box-shadow: 5px 5px 5px #CECECF;
    border: 2px solid #2AD9CA;
    height: 250px;
}
/* Footer */
.footer {
    padding: 70px 0;
    background-color: #1c1a2c;
    padding-bottom: 0;
    border-top: 10px solid #2AD9CA; 
}
.title-form {
    margin: 0;
}
.form {
    color: white;
    padding: 20px;
    padding-right: 200px;
    background-color: #2A245A;
    float: left;
}
input[type="text"] {
    width: 300px;
    margin-bottom: 10px;
    height: 30px;
}
input[type="submit"] {
    border: 3px solid white;
    background-color: #2AD9CA;
}
#user-massage-id {
    height: 100px;
}
.footer-social {
    height: 400px;
    margin-top: 30px;
    float: right;
}
.footer-link {
    filter: invert(1);
}
.social-img {
    margin-top: 200px;
}
/* Page 2 Project */
.title-about-project {
    text-align: center;
}
.pages {
    margin-top: 10px;
}
.pages img:nth-child(2n) {
    margin: 0 5px;
}
.about-project-line {
    height: 0;
    border-bottom: 1px solid black;
    margin: 10px 0;
}
.pages-des {
    width: 10%;
}
.page-des {
    width: 960px;
    padding: 0 0 50px 0;
    margin-top: 20px;
    border: 1px solid black;
}