* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Rubik', sans-serif;
    font-size: normal;
}
.conteiner {
    width: 960px;
    margin: 0 auto;
}
/* Header */
.header {
    background-color: #1fcccf;
    height: 500px;
    text-align: center;
    padding-top: 30px;
    color: white;
}
.header-title, .main-title {
    margin-bottom: 20px;
}
.header-text, .main-text {
    margin-bottom: 20px;
}
.button {
    background-color:#20B7BA;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: x-large;
    border: 3px solid white;
    width: 400px;
    height: 40px;
}
/* Picture */
.picture {
    position: relative;
}
.flake1 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 200px;
    top: 10px;
}
.flake2 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 400px;
    top: -10px;
}
.flake3 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 450px;
    top: 160px;
}
.flake4 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 630px;
    top: 40px;
    transform: rotate(15deg);
}
.flake5 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1030px;
    top: 30px;
}
.santa {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 200px;
    top: -10px;
}
.bauble {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 170px;
    top: 160px;
}
.man {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 470px;
    top: 50px;
}
.card {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 650px;
    top: 120px;
    z-index: 2;
}
.snowman {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 690px;
    top: 50px;
    z-index: 1;
}
.tree {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 850px;
    top: -10px;
    z-index: 0;
}
.candy1 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 410px;
    top: 110px;
}
.candy2 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 650px;
    top: 195px;
    transform: rotate(130deg);
}
.candy3 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1080px;
    top: 180px;
    z-index: 4;
    transform: rotate(90deg);
}
/* Main */
.main {
    height: 500px;
    text-align: center;
    padding-top: 30px;
}
.wishes-el {
    float: left;
    height: 200px;
    width: 240px;
}
.el-title {
    margin-top: 20px;
}
.el-text {
    margin-top: 10px;
}
.circle {
    border-radius: 100%;
    height: 140px;
    width: 140px;
    margin-left: 50px;
}
.circle1 {
    background-color: #E7C340;
}
.circle2 {
    background-color: #480268;
}
.circle3 {
    background-color: #14BED0;
}
.circle4 {
    background-color: #E05328;
}
.wish-img {
    margin-top: 15px;
}