// Vlad
#vlad {
    background-image: url(../img/vlad.png);
    background-size: cover;
}
// Luka
#luka {
    background: url(../img/luka.jpg);
    background-size: cover;
}
// Sviatoslav
#sviatoslav {
    background: url(../img/sviatoslav.jpg);
    background-size: cover;
    transform: rotate(90deg);
}
// Yasya 
#yasya {
    background: url(../img/yasya.jpg);
    background-size: cover;
    transform: rotate(90deg);
}
// Nastya 
#nastya {
    background: url(../img/nastya.jpg);
    background-size: cover;
    background-position: 50% 50%;
    transform: rotate(90deg);
}
// Dimon
#dimon {
    background: url(../img/dimon.png);
    background-size: cover;
    background-position: 70% 50%;
}
// Bohdan
#bohdan {
    background: url(../img/bohdan.png);
    background-size: cover;
}
// Denis 
#denis {
    background: url(../img/denis.jpg);
    background-size: cover;
    transform: rotate(90deg);
}
// Yuriy
#yuriy {
    background: url(../img/yuriy.jpg);
    background-size: cover;
    transform: rotate(90deg);
}
// Dima
#dima {
    background: url(../img/dima.jpg);
    background-size: cover;
}
// Yura
#yura {
    background: url(../img/yura.jpg);
    background-size: cover;
    background-position: 30%;
    transform: rotate(90deg);
}
// Sasha 
#sasha {
    background: url(../img/sasha.jpg);
    background-size: cover;
    background-position: 30%;
    transform: rotate(90deg);
}