* {
    margin: 0;
    padding: 0;
}
.conteiner {
    width: 1200px;
    margin: 0 auto;
}
.conteiner::after {
    content: " ";
    display: table;
    clear: both;
}
/* Div promo */
.promo {
    height: 800px;
    background: url(../img/pic.jpg);
    background-size: cover;
}
/* Nav */
.nav {
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
}
.link {
    color: #2F3250;
    text-decoration: none;
    width: 58px;
    height: 14px;
}
.logo {
    margin-top: 30px;
    mix-blend-mode: multiply;
}
.img {
    mix-blend-mode: multiply;
}
.link_line {
    border-bottom: 1px solid #4D66EC;
    width: 42px;
    height: 14px;
    color: #4A5FCF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
}
.red_link {
    width: 34px;
    height: 14px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #FB0F39;
}
.site_nav a {
    margin: 0 15px;
}
.logo, .site_nav {
    float: left;
}
.site_nav {
    padding-top: 10px;
    margin-left: 65px;
    margin-top: 43px;
}
.user_nav {
    float: right;
    padding-top: 10px;
    margin-top: 41px;
}
.user_link {
    margin-left: 10px;
}
.account, .favourites {
    float: left;
}
.favourites {
    margin: 0 25px;
}
.cart {
    float: right;
}
/* Banner */
.banner {
    margin-top: 173px;
    width: 550px;
    height: 152px;
}
.title {
    font-family: Prosto One;
    font-style: normal;
    font-weight: normal;
    font-size: 76px;
    line-height: 100%;
    color: #4A5FCF;
    margin-bottom: 20px;
}
.text {
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 140%;
    color: #2F3250;
    margin-bottom: 55px;
}
.button {
    width: 210px;
    height: 56px;
    background: #4D66EC;
    border: 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #FCFCFC;
}
/* New colection */
.new_colection {
    margin: 120px 0;
}
.link_col {
    color: #2F3250;
    text-decoration: none;
    margin-top: 22px;
    border-bottom: 1px solid #4D66EC;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}
.card1, .card2, .card3, .card4 {
    float: left;
}
.card_box {
    margin-top: 50px;
}
.card_box div {
    width: 270px;
}
.card_dis {
    margin-top: 20px;
    height: 25px;
}
.button_col {
    margin-top: 25px;
}
.title_col {
    float: left;
    width: 337px;
    height: 34px;
    font-family: Prosto One;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 100%;
    color: #2F3250;
}
.link_col {
    float: right;
}
.shue_name {
    color: #2F3250;
    float: left;
    width: 105px;
    height: 18px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}
.price {
    float: right;
    width: 70px;
    height: 18px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: right;
    color: #2F3250;
}
.more_details {
    float: left;
    width: 130px;
    height: 40px;
    background-color: white;
    border-color: #4D66EC;
    color: #2F3250;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
}
.add_to_cart {
    float: right;
    width: 130px;
    height: 40px;
    background-color: #4D66EC;
    border: 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #FCFCFC;
}
.card2 {
    margin: 0 37px;
}
.card3 {
    margin-right: 37px;
}
/* Blog */
.blog {
    padding-top: 120px;
    padding-bottom: 118px;
    background: #F5F8FC;
}
.title_bl {
    float: left;
    width: 90px;
    height: 34px;
    font-family: Prosto One;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 100%;
    color: #2F3250;
}
.link_bl {
    float: right;
    width: 84px;
    height: 16px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    margin-top: 22px;
    color: #2F3250;
    text-decoration: none;
    border-bottom: 1px solid #4D66EC;
}
.title_art {
    width: 360px;
    height: 18px;
    font-family: Prosto One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #2F3250;
    margin-top: 20px;
    margin-bottom: 15px;
}
.text_art {
    width: 380px;
    height: 150px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #404254;
}
.button_art {
    width: 139px;
    height: 40px;
    background-color: #4D66EC;
    border: 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #FCFCFC;
    margin-top: 25px;
}
.article_box {
    margin-top: 50px;
}
.article {
    width: 373px;
    height: 471px;
}
.art1 {
    float: left;
}
.art2 {
    float: left;
    margin: 0 40px;
}
.art3 {
    float: right;
}
/* FeedBack */
.feedback {
    margin: 120px 0;
}
.title_f {
    width: 153px;
    height: 34px;
    float: left;
    font-family: Prosto One;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 100%;
    color: #2F3250;
}
.link_f {
    width: 89px;
    height: 16px;
    float: right;
    margin-top: 22px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #2F3250;
    text-decoration: none;
    border-bottom: 1px solid #4D66EC;
}
.review_box {
    margin-top: 50px;
}
.header_rev {
    width: 347px;
}
.img_rev {
    float: left;
}
.title_rev {
    width: 74px;
    height: 18px;
    float: left;
    margin-top: 11px;
    margin-left: 12px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}
.date_rev {
    width: 71px;
    height: 14px;
    float: right;
    margin-top: 11px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    color: #404254;
    opacity: 0.3;
}
.text_rev {
    width: 347px;
    height: 120px;
    margin-top: 15px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}
.review {
    width: 400px;
    padding: 30px;
    border: 1px solid #E0E2EC;
    box-sizing: border-box;
}
.rev1, .rev2 {
    float: left;
}
.rev3 {
    float: right;
}
/* Footer */
.footer-link {
    margin-top: 18px;
}
.footer-inf, .catalog, .company, .help, .another {
    float: left;
    margin-top: 40px;
    margin-bottom: 89px;
}
.footer-inf {
    width: 170px;
    height: 180px;
    margin-right: 80px;
}
.mail {
    margin: 10px 0;
}
.catalog {
    width: 73px;
    height: 183px;
    margin-right: 90px;
}
.company {
    width: 77px;
    height: 183px;
}
.help {
    margin: 43px 97px;
    width: 128px;
    height: 183px;
}
.another {
    width: 380px;
    height: 113px;
}
.search {
    width: 380px;
    height: 50px;
    border: 1px solid #000;
    min-height: 20px;
    margin-top: 21px;
    margin-bottom: 54px;
}
input[type="submit"] {
    margin-top: 15px;
    margin-left: 70px;
    width: 16px;
    height: 16px;
    border: none; 
    background: url(../img/send.png) no-repeat 50% 50%;
}
input[type="text"] {
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 274px;
    vertical-align: middle;
}
.text-another {
    float: left;
}
.img-payment {
    float: right;
    margin-left: 15px;
}
.line, .left-line, .rigth-line {
    height: 0;
    border-bottom: 1px solid #E0E2EC;
}
.left-line {
    height: 0;
    width: 530px;
    float: left;
}
.rigth-line {
    height: 0;
    width: 530px;
    float: right;
}
.social {
    margin-left: 60px;
}
.policy-left {
    float: left;
}
.policy-right {
    float: right;
}