/* Root */
/* General */
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #131515;
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

/* Nav */
.nav {
  width: 100%;
  height: auto;
  padding: 15px 0;
}
.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav a {
  z-index: 3;
}
.nav #language {
  cursor: pointer;
  width: auto;
  position: relative;
}
.nav #language .language-box {
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav #language .language-option {
  width: 70px;
  height: 27px;
  position: absolute;
  top: 0;
  opacity: 0;
  background-color: #F8F6F8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  border-radius: 5px;
  transition-duration: 0.36s;
  transition-delay: calc(var(--language-item-number) * 100ms);
}
.nav #language.open .language-option {
  top: calc(34px * var(--language-item-number));
  opacity: 1;
  transition-delay: calc(var(--language-item-number) * 100ms);
}
.nav .links {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.nav .links a {
  text-decoration: none;
  color: #131515;
  font-size: 1rem;
  transition: all 0.2s ease;
}
.nav .links a:hover {
  font-size: 500;
  text-shadow: 0 4px 4px rgba(123, 105, 192, 0.5);
  transition: all 0.2s ease;
}
.nav .burger {
  display: none;
  width: 30px;
  height: 25px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
}
.nav .burger span {
  background-color: #131515;
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
  transition-duration: 500ms;
}
.nav .burger span:nth-child(1) {
  top: 0px;
  left: 0px;
}
.nav .burger span:nth-child(2) {
  top: 11px;
  left: 0px;
  opacity: 1;
}
.nav .burger span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}
.nav .burger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}
.nav .burger.open span:nth-child(2) {
  opacity: 0;
}
.nav .burger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}

/* Header */
.header {
  width: 100vw;
  height: calc(100vh - 84px);
}
.header .container {
  padding: 83px 0 57px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  font-size: 3.75rem;
  font-weight: 600;
  text-align: center;
}
.header svg {
  margin-top: -25px;
}
.header h5 {
  margin-top: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.44rem;
  text-align: center;
}

.inscribe {
  margin-top: 21px;
  width: auto;
  height: auto;
  padding: 14px 28px;
  border: 2px solid #131515;
  border-radius: 5px;
  text-decoration: none;
  color: #131515;
  font-size: 1.2rem;
  transition: background-color 0.2s;
}
.inscribe:hover {
  background-color: #131515;
  color: #F8F6F8;
  transition: background-color 0.2s;
}

.main .galery {
  height: 548px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 15px;
}
.main .galery .galery-img {
  width: 100%;
  height: 100%;
  position: relative;
  aspect-ratio: auto;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 25px;
}
.main .galery .galery-img p {
  max-width: 586px;
  height: -moz-max-content;
  height: max-content;
  padding: 5px;
  background-color: #F8F6F8;
  font-weight: 500;
}
.main .galery .galery-img:first-child {
  grid-row: 1/3;
}
.main .quote {
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding: 50px;
  background-color: #F8F6F8;
}
.main .quote .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main .statistics {
  width: 100%;
  height: auto;
  padding: 70px 0 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.main .statistics h2 {
  font-size: 2.986rem;
  font-weight: 600;
}
.main .statistics .statistics-elements {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.main .statistics .statistics-elements h2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main .statistics .statistics-elements .statistics-el {
  width: -moz-min-content;
  width: min-content;
}
.main .statistics .statistics-elements .statistics-el div {
  display: flex;
  align-items: flex-end;
}
.main .statistics .statistics-elements .statistics-el:nth-child(1) div p {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.main .school-program {
  padding: 50px 0;
}
.main .school-program h2 {
  font-size: 2.986rem;
  font-weight: 600;
  text-align: center;
}
.main .school-program p {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  margin-top: 13px;
}
.main .school-program p b {
  font-weight: 600;
}
.main .school-program h3 {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  margin-top: 13px;
}
.main .school-program .categories {
  max-width: 902px;
  margin: 13px auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}
.main .school-program .categories .categories-age {
  width: 100%;
  height: 70px;
  border-radius: 32px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
  background-color: #E6E6E6;
}
.main .school-program .categories .categories-age .categories-bg {
  width: 20%;
  height: 53px;
  border-radius: 31px;
  background-color: #0071E3;
  position: absolute;
  top: 8px;
  left: 12px;
  transition: all 0.5s;
}
.main .school-program .categories .categories-age p {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  transition: all 0.5s;
}
.main .school-program .categories .categories-age .category-active {
  color: white;
  transition: all 0.5s;
}
.main .school-program .categories .categories-desc {
  width: 100%;
  height: auto;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.main .school-program .categories .categories-desc p {
  width: 100%;
}

.footer {
  padding: 100px 0;
  background-color: #131515;
}
.footer p,
.footer h3,
.footer h4,
.footer h5,
.footer a {
  color: white;
}
.footer .footer-header {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  -moz-column-gap: 30%;
       column-gap: 30%;
  row-gap: 60px;
}
.footer .footer-header h3 {
  font-size: 2.074rem;
  font-weight: 600;
}
.footer .footer-header h4 {
  font-size: 1.2rem;
  font-weight: 500;
  grid-column: 1/2;
  grid-row: 2/3;
}
.footer .footer-header form {
  width: 100%;
  height: auto;
  grid-row: 1/3;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.footer .footer-header form input {
  width: 100%;
  height: 55px;
  padding: 0 15px;
  background: none;
  border: 2px solid #D9D9D9;
  border-radius: 8px;
  color: #FBFBFB;
  font-size: 1.2rem;
  font-weight: 500;
}
.footer .footer-header form button {
  width: 100%;
  height: auto;
  padding: 18px 0;
  margin-top: 30px;
  background-color: #D9D9D9;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: none;
  transition: all 0.3s;
}
.footer .footer-header form button:hover {
  border: 2px solid #D9D9D9;
  background-color: transparent;
  transition: all 0.3s;
  color: white;
}
.footer .contacts {
  width: auto;
  height: auto;
  margin-top: 135px;
  display: flex;
  align-items: center;
  gap: 5%;
  position: relative;
}
.footer .contacts .footer-logo {
  color: white;
  position: absolute;
  top: -50px;
  left: -50px;
}
.footer .contacts .contact {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer .contacts .contact h5 {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.footer .contacts .contact a {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .nav .container {
    width: 100%;
  }
  .nav .links {
    gap: 20px;
  }
  .nav .links a {
    font-size: 0.833rem;
  }
  .header .container {
    padding-top: 23px;
  }
  .header h1 {
    text-align: center;
  }
  .main .description {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .main .description .galery {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }
  .main .description .galery .galery-img:first-child {
    display: none;
  }
  .main .description .galery .galery-img:nth-child(2) p {
    align-self: flex-end;
  }
  .main .description .galery .galery-img:nth-child(3) p {
    align-self: flex-start !important;
  }
  .main .description .quote {
    order: -1;
    margin-bottom: 30px;
  }
  .main .statistics .statistics-elements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
  }
  .main .school-program h2 {
    margin-bottom: 60px;
  }
  .main .school-program p[data-language-text=schoolProgramDesc] {
    display: none;
  }
  .footer .footer-header {
    width: 575px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .contacts {
    justify-content: space-between;
  }
  .footer .contacts .footer-logo {
    left: 0;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 95%;
  }
  .nav #language {
    order: -1;
    margin: 0 5px;
  }
  .nav .links {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    opacity: 0;
    transition: position 1s ease;
  }
  .nav .links.open {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);
    transition: position 1s ease;
  }
  .nav .links.open a {
    font-size: 1.44rem;
    font-weight: 800;
  }
  .nav .burger {
    display: inline-block;
  }
  .header .container {
    padding-top: 50px;
  }
  .header h1 {
    font-size: clamp(2.488rem, 12vw, 2.986rem);
  }
  .header svg {
    margin-top: -100px;
    z-index: -1;
    opacity: 0.3;
  }
  .header h5 {
    margin-top: -60px;
  }
  .main .galery {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }
  .main .galery .galery-img:nth-child(2) {
    display: none;
  }
  .main .galery .galery-img:nth-child(3) {
    display: none;
  }
  .main .quote {
    padding: 50px 0;
  }
  .main .statistics .statistics-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }
  .main .statistics .statistics-elements .statistics-el {
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
  }
  .main .school-program h2 {
    margin-bottom: 60px;
  }
  .main .school-program p {
    display: none;
  }
  .main .school-program h3 {
    margin-bottom: 60px;
  }
  .main .school-program .categories .categories-age {
    height: auto;
    flex-direction: column;
    gap: 15px;
  }
  .main .school-program .categories .categories-age .categories-bg {
    display: none;
  }
  .main .school-program .categories .categories-age p {
    padding: 15px 0;
    border-radius: 31px;
  }
  .main .school-program .categories .categories-age .category-active {
    background-color: #0071E3;
  }
  .footer .footer-header {
    max-width: 575px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .contacts {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer .contacts .footer-logo {
    left: 50%;
    transform: translateX(-50%);
  }
  .footer .contacts .contact {
    margin-bottom: 50px;
  }
}/*# sourceMappingURL=style.css.map */