// Burger Menu

.burger {
  display: none;
  width: 30px;
  height: 25px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  z-index: 3;
}

.burger span {
  background-color: $--main-black;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width: 100%;
  height: 4px;
  transition-duration: 500ms
}

.burger span:nth-child(1) {
  top: 0px;
  left: 0px;
}

.burger span:nth-child(2) {
  top: 11px;
  left: 0px;
  opacity: 1;
}

.burger span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}

.burger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}