/* Root */

$--main-black: #131515;
$--main-white: #F8F6F8;


/* General */

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: $--main-black;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.modal-bg {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(217, 217, 217, 70%);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    place-items: center;

    .modal {
        width: 600px;
        height: 387px;
        border-radius: 8px;
        background-color: #F4F2F5;
        padding: 50px 70px;
        position: relative;

        .close-modal {
            width: 18px;
            height: 18px;
            position: absolute;
            right: 30px;
            top: 30px;
        }

        h3 {
            font-size: 1.44rem;
            font-weight: 500;
        }

        form {
            width: 100%;
            height: auto;
            justify-self: flex-end;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 30px;

            input {
                width: 100%;
                height: 55px;
                padding: 0 15px;
                background-color: #D9D9D9;
                border: none;
                border-radius: 8px;
                color: $--main-black;
                font-size: 1.2rem;
                font-weight: 500;
            }
        }

        .modal-message {
            width: 100%;
            height: 100%;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 30px;
        }
    }

    &.sended {
        form {
            display: none;
        }

        .modal-message {
            display: flex;
        }
    }

    &.open {
        display: grid;
    }
}



/* Nav */

.nav {
    width: 100%;
    height: auto;
    padding: 15px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a {
        z-index: 3;
    }

    #language {
        cursor: pointer;
        width: auto;
        position: relative;

        .language-box {
            width: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        .language-option {
            width: 70px;
            height: 27px;
            position: absolute;
            top: 0;
            opacity: 0;
            z-index: 4;
            background-color: $--main-white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 6px;
            border-radius: 5px;
            transition-duration: .36s;
            transition-delay: calc(var(--language-item-number) * 100ms);
        }

        &.open {
            .language-option {
                top: calc(34px * var(--language-item-number));
                opacity: 1;
                transition-delay: calc(var(--language-item-number) * 100ms);
            }
        }
    }

    .links {
        display: flex;
        justify-content: space-between;
        gap: 25px;

        a {
            text-decoration: none;
            color: $--main-black;
            font-size: 1rem;
            transition: all .2s ease;

            &:hover {
                font-size: 500;
                text-shadow: 0 4px 4px rgba(123, 105, 192, 0.5);
                transition: all .2s ease;
            }
        }
    }

    @import './burger';
}



/* Header */

.header {
    width: 100vw;
    height: calc(100vh - 84px);

    .container {
        padding: 83px 0 57px 0;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        font-size: 3.75rem;
        font-weight: 600;
        text-align: center;
    }

    .header-logo {
        margin-top: -25px;
    }

    [class*="-ico"] {
        position: absolute;
    }

    .personage-ico {
        bottom: 200px;
        left: 5px;
    }

    .tg-ico {
        top: 200px;
        left: 100px;
    }

    .mark-ico {
        top: 270px;
        left: 190px;
    }

    .shield-ico {
        right: 260px;
        bottom: 230px;
    }

    .heart-ico {
        right: 130px;
        bottom: 250px;
    }

    .star-ico {
        right: 200px;
        top: 230px;
    }

    h5 {
        margin-top: 26px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.44rem;
        text-align: center;
    }
}

.inscribe {
    margin-top: 21px;
    width: auto;
    height: auto;
    padding: 14px 28px;
    border: 2px solid $--main-black;
    border-radius: 5px;
    text-decoration: none;
    color: $--main-black;
    font-size: 1.2rem;
    transition: background-color 0.2s;

    &:hover {
        background-color: $--main-black;
        color: $--main-white;
        transition: background-color 0.2s;
    }
}

// Main
.main {
    .gallery {
        height: 548px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 20px;
        row-gap: 15px;

        & .gallery-img {
            width: 100%;
            height: 100%;
            position: relative;
            aspect-ratio: auto;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 25px;

            p {
                max-width: 586px;
                height: max-content;
                padding: 5px;
                background-color: $--main-white;
                font-weight: 500;
            }

            &:first-child {
                grid-row: 1/3;
            }
        }
    }

    .quote {
        width: 100%;
        height: auto;
        margin-top: 20px;
        padding: 50px;
        background-color: #F8F6F8;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }

    .statistics {
        width: 100%;
        height: auto;
        padding: 70px 0 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 50px;

        h2 {
            font-size: 2.986rem;
            font-weight: 600;
        }

        .statistics-elements {
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: baseline;

            h2 {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }

            .statistics-el {
                width: min-content;

                div {
                    display: flex;
                    align-items: flex-end;
                }

                &:first-of-type div p {
                    width: fit-content;
                    font-size: 1.2rem;
                    font-weight: 600;
                    margin-bottom: 5px;
                }

                &:last-of-type {
                    width: 130px;
                }
            }
        }
    }

    .school-program {
        padding: 50px 0;

        h2 {
            font-size: 2.986rem;
            font-weight: 600;
            text-align: center;
        }

        p {
            font-size: 1.2rem;
            font-weight: 300;
            text-align: center;
            margin-top: 13px;

            b {
                font-weight: 600;
            }
        }

        h3 {
            font-size: 1.2rem;
            font-weight: 500;
            text-align: center;
            margin-top: 13px;
        }

        .categories {
            max-width: 902px;
            margin: 13px auto;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 17px;

            .categories-age {
                width: 100%;
                height: 70px;
                border-radius: 32px;
                padding: 8px 12px;
                display: flex;
                align-items: center;
                gap: 50px;
                position: relative;
                background-color: #E6E6E6;

                .categories-bg {
                    width: 20%;
                    height: 53px;
                    border-radius: 31px;
                    background-color: #0071E3;
                    position: absolute;
                    top: 8px;
                    left: 12px;
                    transition: all .5s;
                }

                p {
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.2rem;
                    font-weight: 500;
                    margin: 0;
                    transition: all .5s;
                }

                .category-active {
                    color: white;
                    transition: all .5s;
                }
            }

            .categories-desc {
                width: 100%;
                height: auto;
                padding: 0 12px;
                display: flex;
                justify-content: space-between;
                gap: 50px;

                p {
                    width: 100%;
                    cursor: pointer;
                }
            }
        }

        .program-desk {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            div {
                width: 590px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 60px;

                h3,
                p {
                    text-align: start;
                }

                h3 {
                    font-size: 1rem;
                    font-weight: 600;
                }

                p {
                    font-size: 1rem;
                }
            }
        }
    }

    .our-team {
        .our-team-selector {
            max-width: 670px;
            margin: 0 auto;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 17px;

            h2 {
                font-size: 2.986rem;
                font-weight: 600;
            }

            .our-team-groups {
                width: 100%;
                height: 70px;
                border-radius: 32px;
                padding: 8px 12px;
                display: flex;
                align-items: center;
                gap: 50px;
                position: relative;
                background-color: #E6E6E6;

                .our-team-bg {
                    width: 20%;
                    height: 53px;
                    border-radius: 31px;
                    background-color: #0071E3;
                    position: absolute;
                    top: 8px;
                    left: 12px;
                    transition: all .5s;
                }

                p {
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.2rem;
                    font-weight: 500;
                    margin: 0;
                    transition: all .5s;
                }

                .our-team-active {
                    color: white;
                    transition: all .5s;
                }
            }
        }

        .team-gallery {
            max-width: 1152px;
            height: auto;
            margin: 40px auto 100px auto;

            .team-header {
                width: 100%;
                height: auto;
                display: flex;
                gap: 90px;

                img {
                    width: 482px;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    object-position: 50% 20%;
                    border-radius: 32px;
                }

                .team-desk {
                    max-width: 360px;
                    margin-top: 60px;

                    h3 {
                        font-size: 2.074rem;
                        font-weight: 500;
                        margin-bottom: 30px;
                    }
                }
            }

            .team-members {
                width: 100%;
                height: 360px;
                display: flex;
                justify-content: flex-start;
                flex-wrap: nowrap;
                overflow-x: auto;
                white-space: nowrap;
                gap: 36px;
                margin-top: 24px;

                div {
                    min-width: 261px;
                    height: 100%;
                    background-size: cover;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    padding: 11px;
                    border-radius: 16px;

                    p {
                        font-size: 1.2rem;
                        font-weight: 600;
                        padding: 12px;
                        background-color: rgba($color: $--main-white, $alpha: .6);
                    }

                    &.active {
                        display: none;
                    }
                }
            }
        }
    }

    .reviews {
        width: 100%;
        height: auto;

        h2 {
            font-size: 2.074rem;
            font-weight: 600;
            text-align: center;
            margin-bottom: 50px;
        }

        .reviews-box {
            width: 100%;
            height: auto;
            display: flex;
            gap: 15px;
            flex-wrap: nowrap;
            white-space: nowrap;
            overflow-x: auto;

            .review {
                min-width: 300px;
                padding: 30px;
                height: auto;
                display: flex;
                flex-direction: column;
                gap: 30px;

                .review-header {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .review-header-box {
                        display: flex;
                        align-items: center;
                        gap: 15px;

                        img {
                            width: 40px;
                            aspect-ratio: 1/1;
                            object-fit: cover;
                            border-radius: 100%;
                        }
                    }
                }

                p {
                    width: 100%;
                    text-wrap: wrap;
                }
            }
        }
    }

    .school-gallery {
        h2 {
            font-size: 2.074rem;
            font-weight: 600;
            text-align: center;
            margin-bottom: 50px;
            margin-top: 35px;
        }
        img {
            width: 100%;
        }

        .school-gallery-photos {
            display: flex;
            gap: 20px;
            margin: 20px 0 50px 0;
            overflow-x: scroll;

            img {
                min-width: 216px;
                aspect-ratio: 1/1;
                object-fit: cover;
            }
        }
    }
}

.footer {
    padding: 100px 0;
    background-color: $--main-black;

    & p,
    h3,
    h4,
    h5,
    a {
        color: white;
    }

    .container {
        position: relative;
    }

    .footer-header {
        width: 100%;
        height: auto;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        column-gap: 30%;
        row-gap: 60px;

        h3 {
            font-size: 2.074rem;
            font-weight: 600;
        }

        h4 {
            font-size: 1.2rem;
            font-weight: 500;
            grid-column: 1/2;
            grid-row: 2/3;
        }

        form {
            width: 100%;
            height: auto;
            grid-row: 1/3;
            justify-self: flex-end;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 30px;

            input {
                width: 100%;
                height: 55px;
                padding: 0 15px;
                background: none;
                border: 2px solid #D9D9D9;
                border-radius: 8px;
                color: #FBFBFB;
                font-size: 1.2rem;
                font-weight: 500;
            }

            button {
                width: 100%;
                height: auto;
                padding: 18px 0;
                margin-top: 30px;
                background-color: #D9D9D9;
                border-radius: 5px;
                font-size: 1.2rem;
                font-weight: 600;
                box-shadow: none;
                transition: all .3s;

                &:hover {
                    border: 2px solid #D9D9D9;
                    background-color: transparent;
                    transition: all .3s;
                    color: white;
                }
            }
        }
    }

    .contacts {
        width: auto;
        height: auto;
        margin-top: 135px;
        display: flex;
        align-items: center;
        gap: 5%;
        position: relative;

        .footer-logo {
            color: white;
            position: absolute;
            top: -50px;
            left: -50px;
        }

        .contact {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 15px;

            h5 {
                font-size: 0.9rem;
                font-weight: 600;
                margin-bottom: 5px;
            }

            a {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }

    .footer-ico {
        position: absolute;
        right: 0;
        bottom: -15px;
    }
}

// Media

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }

    .nav {
        .container {
            width: 100%;
        }

        .links {
            gap: 20px;

            a {
                font-size: 0.833rem;
            }
        }
    }

    .header {
        .container {
            padding-top: 23px;
        }

        h1 {
            text-align: center;
        }

        [class*="-ico"]:not(.personage-ico, .shield-ico) {
            display: none;
        }

        .personage-ico {
            left: 20px;
            top: 190px;
        }

        .shield-ico {
            right: 50px;
        }
    }

    .main {
        .description {
            width: 100%;
            display: flex;
            flex-direction: column;

            .gallery {
                display: flex;
                flex-direction: column;
                gap: 26px;

                .gallery-img:first-child {
                    display: none;
                }

                .gallery-img:nth-child(2) p {
                    align-self: flex-end;
                }

                .gallery-img:nth-child(3) p {
                    align-self: flex-start !important;
                }
            }

            .quote {
                order: -1;
                margin-bottom: 30px;
            }
        }

        .statistics {
            .statistics-elements {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                place-items: center;
            }
        }

        .school-program {
            h2 {
                margin-bottom: 60px;
            }

            p[data-language-text="schoolProgramDesc"] {
                display: none;
            }

            .program-desk {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .footer {
        .footer-header {
            width: 575px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .contacts {
            justify-content: space-between;

            .footer-logo {
                left: 0;
            }
        }

        .footer-ico {
            display: none;
        }
    }
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 95%;
    }

    .modal-bg {
        .modal {
            width: 100%;
            max-width: 500px;
            padding: 50px 30px;
            height: auto;
        }
    }

    .nav {
        #language {
            order: -1;
            margin: 0 5px;
        }

        a[href="index.html"] {
            margin-right: 20px;
        }

        .links {
            position: absolute;
            display: none;
            top: 0;
            left: 0;
            height: 0;
            width: 0;
            opacity: 0;
            transition: position 1s ease;

            &.open {
                width: 100vw;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 45px;
                opacity: 1;
                z-index: 2;
                background-color: rgb(255 255 255);
                transition: position 1s ease;

                a {
                    font-size: 1.44rem;
                    font-weight: 800;
                }
            }
        }

        .burger {
            display: inline-block;
        }
    }

    .header {
        .container {
            padding-top: 50px;
        }

        h1 {
            font-size: clamp(2.488rem, 12vw, 2.986rem);
        }

        .header-logo {
            margin-top: -100px;
            z-index: -1;
            opacity: 0.3;
        }

        h5 {
            margin-top: -60px;
        }

        [class*="-ico"] {
            display: none;
        }
    }

    .main {
        .gallery {
            display: flex;
            flex-direction: column;
            gap: 26px;

            & .gallery-img:nth-child(2) {
                display: none;
            }

            & .gallery-img:nth-child(3) {
                display: none;
            }

        }

        .quote {
            padding: 50px 0;
        }

        .statistics {
            .statistics-elements {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 35px;

                .statistics-el {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    place-items: center;
                }

                .statistics-el:last-of-type {
                    width: 100%;
                }
            }
        }

        .school-program {
            h2 {
                margin-bottom: 60px;
            }

            p[data-language-text="schoolProgramDesc"],
            .categories .categories-desc {
                display: none;
            }

            h2 {
                margin-bottom: 60px;
            }

            .categories {
                .categories-age {
                    height: auto;
                    flex-direction: column;
                    gap: 15px;

                    .categories-bg {
                        display: none;
                    }

                    p {
                        padding: 15px 0;
                        border-radius: 31px;
                    }

                    .category-active {
                        background-color: #0071E3;
                    }
                }
            }

            .program-desk {
                margin-top: 70px;
                justify-content: center;

                div {
                    flex-direction: column-reverse;
                    gap: 0;

                    section {
                        width: 100%;
                        padding: 20px 25px;
                        background-color: rgba($color: #D9D9D9, $alpha: .4);
                        border-radius: 10px;
                    }

                    img {
                        margin-top: -40px;
                        z-index: -1;
                    }
                }
            }
        }

        .our-team {
            .our-team-selector {
                width: 100%;
                max-width: 100%;

                h2 {
                    text-align: center;
                }

                .our-team-groups {
                    height: auto;
                    flex-direction: column;
                    gap: 15px;

                    .our-team-bg {
                        display: none;
                    }

                    p {
                        padding: 15px 0;
                        border-radius: 31px;
                        cursor: pointer;
                    }

                    .our-team-active {
                        background-color: #0071E3;
                    }
                }
            }

            .team-gallery {
                .team-header {
                    flex-direction: column;
                    gap: 10px;

                    img {
                        width: 100%;
                    }

                    .team-desk {
                        width: 100%;
                        max-width: 100%;
                        margin-top: 0;
                        text-align: center;
                    }
                }
            }
        }
    }

    .footer {
        .footer-header {
            max-width: 575px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .contacts {
            flex-wrap: wrap;
            justify-content: center;

            .footer-logo {
                left: 50%;
                transform: translateX(-50%);
            }

            .contact {
                margin-bottom: 50px;
            }
        }

        .footer-ico {
            display: none;
        }
    }
}